---
import Layout from "@/layouts/Layout.astro";
import PricingCard from "@/components/PricingCard.astro";

const StarterProjects = [
    { name: 'Up to 5 Projects', description: 'Manage and track analytics for a maximum of 5 projects.' },
    { name: 'Unlimited API Requests', description: 'Infinite number of API requests per month.' },
    { name: 'Framework Integrations', description: 'Access pre-made integrations for various frameworks (Node, Axum, Flask, Django, etc.).' },
    { name: 'Collaboration Tools', description: 'Every project allows up to 5 collaborators. Collaborate with different team members, sharing project insights and analytics.' },
]
const ProProjects = [
    { name: 'Access to Free Tier Features', description: 'Enjoy all features available in the Free tier.' },
    { name: 'Unlimited Projects', description: 'Manage limitless projects for extensive analytics.' },
    { name: 'Advanced Analytics & Customization', description: 'Access deeper insights and create fully customizable reports.' },
    { name: 'Enhanced Collaboration', description: 'Manage larger teams with up to 30 collaborators per project.' },
    { name: 'Email Notifications', description: 'Set up customizable email alerts for critical events or analytics thresholds.' },
]
---

<Layout title="Pricing / FAQ">
    <main class="space-y-6">
        <div class="flex justify-center">
            <div class="md:w-5/6">
                <h1 class="text-4xl md:text-5xl font-bold">Pricing</h1>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="md:w-5/6 grid grid-cols-1 md:grid-cols-2 gap-2">
                <PricingCard title="Starter" projects={StarterProjects} popular />
                <PricingCard title="Pro" projects={ProProjects} disabled/>
            </div>
        </div>
    </main>
</Layout>