---
import { Button } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';
import { ChevronRight } from 'lucide-react';
---

<Layout title="Home | redev0.">
	<main class="w-full flex flex-col items-center space-y-8">
		<Button className='rounded-full space-x-2 text-primary' variant={'outline'}><div class="rounded-full px-2 items-center bg-primary text-primary-foreground ">New</div><span>redev0. BETA 0.1 out now!</span><ChevronRight absoluteStrokeWidth strokeWidth={1}/></Button>
		<h1 class="text-3xl sm:text-4xl md:text-5xl text-center w-full lg:w-5/6 font-bold font-inter">Supercharge Your Insights: Next-level Analytics, Effortless Execution.</h1>
		<h3 class="text-center text-xl w-full lg:w-5/6 font-extralight">Unleash Your API's Potential: Explore a Wealth of Actionable Insights, Delivered Seamlessly for Optimal Performance and Growth.</h3>
		<div class="flex flex-col md:flex-row w-full space-y-2 md:space-y-0 md:space-x-2 justify-center">
			<Button>Get started</Button>
			<Button variant={'outline'}>Check out the docs</Button>
		</div>
	</main>
</Layout>
