---
import { Button } from "./ui/button";
---

<footer class="py-4 space-y-4">
    <div class="flex justify-center md:justify-between gap-2 items-center">
        <div class="text-surface-300 font-mono font-light">
            redev0.
        </div>
        <div class="hidden md:block">
            <a href="/privacy"><Button className="font-light" variant={'link'}>Privacy</Button></a>
            <a href="/docs"><Button className="font-light" variant={'link'}>Docs</Button></a>
            <a href="/pricing"><Button className="font-light" variant={'link'}>Pricing</Button></a>
            <a href="/about"><Button className="font-light" variant={'link'}>About us</Button></a>
        </div>
    </div>
</footer>