---
import Layout from "./Layout.astro";
---

<Layout title="Docs">
    <div class="grow flex flex-row gap-2 relative">
        <div class="w-80 grow h-full min-w-[20rem] top-14 sticky bg-red-500 overflow-y-scroll">
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
            jeg liker tissefanter
        </div>
        <div>
            <slot/>
        </div>
    </div>
</Layout>