---
import Layout from "./Layout.astro";


const { title } = Astro.props;
---

<Layout title={`${title}`}>
    <div class="grow flex flex-row justify-between gap-2 relative">
        <div class="w-80 h-full min-w-[20rem] top-14 p-2 rounded sticky bg-secondary flex flex-col overflow-y-scroll">
            <span>ok</span>
        </div>
        <main class="grow bg-secondary rounded p-2 prose max-w-full w-full">
            <slot/>
        </main>
    </div>
</Layout>